{% load static from staticfiles %}
{% load url from future %}  {# Deprecated in django 1.6 #}

<!doctype html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">

    {% block css %}
    {# in the href you put static as shown here to tell django that this is a static file coming #}
    {# from the static folder you provided and the rest is just a regular url #}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    {% endblock css %}

    <title>{% block page_title %}{% endblock %}Microblog</title>

</head>
{% endblock head %}


    <body>
    <div class="container">
        {% block page_content %}{%  endblock %}
    </div>
    </body>
</html>